/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.bash_history
.bash_logout
.bashrc
bitnami_application_password
bitnami_credentials
.cache
.config
.editorconfig
.local
.profile
.ssh
/stack

