
main {
    margin: 0 auto !important; /* Fix for about page centering (Bootstrap) */
}

div.technologyTable {
    margin: 1% 5%;
    width: 40%;
}
    table.technologyTable {
        width: 100%;
    }

img.techLogo {
    width: 60%;
}

td.techLogo {
    width: 15%;
    padding: 1%;
}
td.techName {
    width: 35%;
    text-align: left;
    margin-left: 1%;
}

.aboutSplitter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* FOR MOBILE */
@media only screen and (max-width: 600px) {

    .aboutSplitter {
        flex-direction: column;
        justify-content: center;
    }

    .technologyTable {
        text-align: center;
    }
}
