h1 {
    font-size: 400%;
}

h2 {
    font-size: 180%;
}

p {
    margin-left: 10%;
    width: 80%;
}

.callToAction {
    box-shadow: 2px 2px 8px 2px #adcce6;
    border-radius: 3px;
    font-size: 1vw;
    padding: 0.5vw;
}

section.gradient {
    background-color: aliceblue;
    background-image: linear-gradient(to top, #e3eef7, white);
    margin: 0 !important;
    padding-bottom: 1.2vmin;
}
