h1 {
    font-size: 400%;
    margin: 1% 0 0 0;
    padding: 0;
}

h2 {
    font-size: 150%;
}

h3 {
    margin-top: 1%;
}

p {
    margin-left: 10%;
    width: 80%;
}

.callToAction {
    box-shadow: 2px 2px 8px 2px #adcce6;
    border-radius: 3px;
    font-size: 1vw;
    padding: 0.5vw;
}

section.gradient {
    background-color: aliceblue;
    background-image: linear-gradient(to top, #e3eef7, white);
    margin: 0 !important;
    padding-bottom: 1.2vmin;
}

.carouselFlex {
    display: flex;
    width: 80%;
    margin: 0.5% 10% 1% 10%;
}
    .carouselFlex > div {
        width: 31%;
        margin: 0 1%;
    }

.indicatorAdjust {
    padding: 20px;
    margin: 20px;
}
    .indicatorAdjust > li {
        border: 1px solid darkslategrey;
        background: rgb(25, 25, 26);
    }

img.project {
    width: 90%;
    border: 1px solid rgba(47, 79, 79, 0.5);
}

.smaller {
    font-size: 75%;
}
