
.mySlides {
    display: none;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    color: rgb(78, 85, 85);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.carousel-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 94%;
    margin: 0 3%;
}
    .carousel-container > div {
        border: 1px solid #95bad8;
        width: 31%;
        margin: 1%;
    }
        .carousel-container > div > img {
            width: 100%;
        }
